:markdown
  ## A cryptocurrency system

  uCoin uses the crypto-currency concept introduced by Bitcoin, which is to use cryptography features such as *signature* to create digital currencies. uCoin fits in this definition, however it has completely different fundation principles than Bitcoin like individuals, Web of Trust and Universal Dividend to do *really* better than Bitcoin.

  Actually, uCoin has a theoretical reference called [Relative Money Theory (french)](http://wiki.creationmonetaire.info/). This theory **demonstrates** that a currency which aims at respecting individual's economic liberties MUST implement the Universal Dividend (aka. *Basic Income*), which is the only way to avoid both spatial and temporal asymmetry toward money issuance.

  ## A spate-time asymmetry

  Spate-time asymmetry refers to the relative access of individuals to newly created money. Concretely, all existing currencies (2014) are both spatially and temporally asymmetrical for their users. Let's take Bitcoin example to understand why.

  ### Spatially

  When new Bitcoins are created, *only some Bitcoin users* are credited of brand new Bitcoins, not the others. **We believe this is the first injustice.** Some might say:
.ui.message « but miners used their electricity and time to get it! »
:markdown

  ... we would answer this work *shouldn't have been rewarded by newly created Bitcoins*. New Bitcoins should spread the whole Bitcoin community. Miners should be rewared another way, not by money issuance.

  Of course, Bitcoin can't create money through Basic Income since Bitcoin users are not strongly identified, and one might benefit multiple times of money creation if he owned several wallets. uCoin get rid of this problem in its conception by giving *the same amount to everyone*.

  ### Temporally

  Bitcoin has a planned limit of 21 million BTC, which means less and less bitcoins will be created over the time until 0 remains. Hence, once the first adopters mined every bitcoin, how will future joiners do to get bitcoins? Just like Euros or Dollars, actually: to get money you have to work for the ones who already own it. **We believe this is the second injustice.**

  Every member of a monetary community should be equal towards money issuance, and get the same relative amount of new money over the time, *even if he is a later adopter*.

  uCoin aims at fixing this bug too by making Universal Dividend *grow by the time* according to precise rules allowing members equality toward money issuance on a half-lifetime.

  ## A solution

  The whole idea is to create a monetary community composed of strongly identified members, and regularly create new money to their benefit through *Universal Dividend*.

  This is made possible through Web of Trust concept introduced by OpenPGP format, which allows people to trust each others' identity and be confident enough that a public key represents a unique and living individual.

  ### Keychain
  This Web of Trust is to be written in a common document: the keychain. This document is a *space-time referential*, where *space* represents individuals and *time* the keychain unit: a keyblock.

  So within a keyblock, we both have *time* information (*t*) and a flow of individuals (*di*). From this definition, we can simply deduce the community(t) (aka keychain(t)) which is the sum of the community variations *di(t)* in the `[0,t]` interval. Another way to say it is: keychain(t) represents the community at a *t* instant.

  #### Keyblock content
  A keyblock gathers:
  * Public Key of each individual
  * Signatures of key's UserID
  * Membership requests
  * Resulting incomers/outcomers of the keychain

  #### To summarize
  Keychain can be compared to a great book tracing the history of each membership inside the Community. With the keychain, we have the **fundamental referential** of the [Relative Money Theory](http://wiki.creationmonetaire.info/): humans.

  ### Contract
  From this Keychain, a set of rules defined by [uCoin protocol (UCP)](/specs) + *currency parameters* allows to directly deduce the whole *Monetary Contract* of a given currency. Indeed, in free currencies the only unknown variable is the community: we don't know who will be born or who will die. That is why after defining space-time referential (the members), we can directly apply chosen rules for describing the currency.

  > Note that *describing the currency* does not mean describing the economy and exchanges, this is completely different thing: *describing the currency* means describing the members and how is created to money, to whom.

    The deduced *Monetary Contract* has a particular value to uCoin protocol for two reasons:
    * First, it is a useful representation of the uCoin currency (it describes it for any *t* time)
    * Second, coins' ID are *based on it*. **So coins reality is directly based on this representation**.

  As a consequence, to know what currency (and its rules) a network node is managing, he only has to display the Contract it deduced. So for any external observer, a simple look at keychain(t) + contract(t) tells him what is the *individuals* referential and what are *the monetary rules*.

  ### Network & Transactions
  Finally, the solution is based upon a PGP Network: this is a kind of "new type" of network where each peer is authenticated by its OpenPGP key. In this network, members & non-members may issue transactions to transfer coins they own (because they received it by UD or from someone) to someone else.

  #### Wallets
  Transactions history and consistency is guaranteed directly by the peers, according to a Wallet document signed by its owner and telling where (i.e. *on which nodes*) is stored the full transaction history of its Wallet. This feature is notably what *prevent the double spending*, since anyone may check that transaction history matches coherence for one or several vouching peers.

  #### Cheating considerations
  It must be noted here that uCoin **does not** use the same security mechanism as Bitcoin to counter double-spending. This has both benefits & drawbacks. Here are a few:

  ##### Drawback: no more *single point* of control
  With Bitcoin, you had a unique (at least, you thought) source to check: the blockchain. If a transaction was in there, it was done, accepted. You had to wait, but that was OK. A consequence of this point is that, since transactions are no more stored in a chain, people may change it in order to cheat. *That is a real possibility, it has to be understood seriously*.

  So a big change is that with uCoin, each user of the currency has to decide *himself* how to get guarantees on transactions he accepts. Actually, this might seem hard but there is no serious big deal: we just have to use trusted tiers vouching for other users' transactions.

  At least, this is *one* solution. uCoin is agnostic about this. It lets users decide of the best way to go over this problem.

  ##### Benefit: no more waiting, instant payment
  Yes, that is a huge benefit compared to Bitcoin: you probably won't have to wait anymore. It could be even quicker than existing Banking system, depending on the chosen solution for accepting/sending transactions.

  ##### Benefit: worldwide compliance
  Let's face reality: Bitcoin had no change to handle worldwide transactions, it is just not possible to broadcast every single transaction over the whole internet. But uCoin can do it, since transactions are distributed, and only *few* nodes are concerned.

  ## A free economy
  The goal of all this is to allow people to participate to a *free economy* thanks to a *free currency*. What is a free economy? [Relative Money Theory (french)](http://wiki.creationmonetaire.info/) defines it through 4 economic freedoms:

  * **The freedom to choose your currency system**: because money should not be imposed
  * **The freedom to access resources**: because we *all* should have access to economic & monetary resources
  * **The freedom to estimate & produce value**: because value is a purely relative to each individual, in space and time
  * **The freedom to trade with the money**: because we should not be limited by the avaible money supply

  Those 4 economic freedoms should be understood together, not exclusively. Plus, *"freedom"* has to be understood as "*non-nuisance*". So here, *freedom* does not mean the right to take all of a resource (like water source in a desert) so no more is available to the others.

  Now you get it, this is the goal: *free economy through free currency.*
  