ul
  li
    a(href="/theoretical/#a-cryptocurrency-system") A cryptocurrency system
  li
    a(href="/theoretical/#spatial-and-temporal-what-") A space-time asymmetry
    ul
      li
        a(href="/theoretical/#spatially") Spatially
      li
        a(href="/theoretical/#temporally") Temporally
  li
    a(href="/theoretical/#how-to-implement-such-a-system-") A possible solution!
    ul
      li
        a(href="/theoretical/#the-monetary-web-of-trust-wot-") Web of Trust
      li
        a(href="/theoretical/#the-monetary-contract") Monetary Contract
      li
        a(href="/theoretical/#coins") Coins
      li
        a(href="/theoretical/#transactions") Transactions