.ui.segment.hero
  .container
    .ui.header.large
      i.bookmark.big.icon.medium
      .content Theoretical
        .sub.header
          | Learn the fundamentals: 
          a(href="http://wiki.creationmonetaire.info/") Relative Money Theory 
          | and 
          a(href="#protocol") uCoin Protocol
.main.container
  .ui.grid.main.stackable
    .row
      .sixteen.wide.column
        .peek
          .ui.menu.secondary.pointing.vertical#sidemenu
        .ui.segment.body
          include _content