.ui.icon.message.warning
  i.exclamation.icon
  .content
    | Software is not ready yet! Check this page regulary or subscribe to 
    a(target="_blank", href="https://groups.google.com/forum/?hl=fr#!forum/ucoin") Mailing List
    |  or visit our 
    a(target="_blank", href="http://forum.ucoin.io/") Forum
    |  to get the last informations about next release!