.ui.segment.hero
  .container
    .ui.header.large
      i.disk.download.icon.medium
      .content Install uCoin software
        .sub.header
          | And run your own server!
.main.container
  .ui.grid.main.stackable
    .row
      .sixteen.wide.column
        .ui.segment.body
          include _content