.ui.segment.hero
  .container
    .ui.header.large
      i.double.angle.right.big.icon.medium
      .content uCoin project
        .sub.header
          | Free software + Open protocol for creating 
          a(href="http://fr.wikipedia.org/wiki/Monnaie_libre") free currencies
.main.container
  .ui.grid.main.stackable
    .row
      .sixteen.wide.column
        .ui.segment.body
          include _content