.container
  .gittip
    script(type="text/javascript", src="//gttp.co/v1.js", data-gittip-username="ucoin", async)
footer
  .container
    p.copyright
      | Website forked from 
      a(href="http://remotestorage.io") remotestorage.io
      span(class="divider") &middot;
      a(href="https://github.com/ucoin-io?tab=members") uCoin contributors
    p.actions
      a(href="https://twitter.com/ucoin_io", class="twitter-follow-button", data-dnt="true", data-show-count="false", data-lang="en") Follow @ucoin_io
