nav
  ul
    li.theoretical
      a(href='/theoretical') Theoretical
    li.specs
      a(href='/specs') Specifications
    li.currencies
      a(href='/currencies') Currencies
    li.pipe
      |
    li.provide
      a(href='https://github.com/ucoin-io', target="blank_") Sources
    li.guides
      a(href='http://forum.ucoin.io', target="blank_") Forum
    li.mailinglist
      a(href='https://groups.google.com/forum/?hl=fr#!forum/ucoin', target="blank_") Mailing List
