.ui.segment.hero
  .container
    .ui.header.large
      i.double.angle.right.big.icon.medium
      .content uCoin project
        .sub.header
          | Free software + Open protocol for creating 
          a(href="http://fr.wikipedia.org/wiki/Monnaie_libre") free currencies
.main.container
  .ui.three.column.grid.main.stackable
    .row
      .column
        .ui.segment.body
          :markdown
            ### Universal Dividend
            *Every member regularly receives a monetary Basic Income* coming from new money creation directly issued to members on a bi-monthly basis.

          .ui.horizontal.icon.divider
            i.angle.money.circular.icon
          :markdown
            This means **any member regularly receive new money** without doing anything, just for being a human of the monetary Community.

      .column
        .ui.segment.body
          :markdown
            ### Web of Trust
            *Every member is strongly identified through a Web of Trust mechanism* to avoid one individual to receive multiple Universal Dividend through multiple identities.

          .ui.horizontal.icon.divider
            i.users.circular.down.icon
          :markdown
            This means **any membership requires signatures from other members** to join in or simply stay in the Community.

      .column
        .ui.segment.body
          :markdown
            ### P2P Network
            *Data is fully managed by the P2P network* so a free currency does not fall under few hands control and can stay a free currency.

          .ui.horizontal.icon.divider
            i.globe.circular.down.icon
          :markdown
            This means **data is fully distributed through the P2P network** to avoid any central power highly subject to corruption or Single Point of Failure issues.
