.ui.segment.hero
  .container
    .ui.header.large
      i.double.angle.right.big.icon.medium
      .content uCoin project
        .sub.header
          | Free software + Open protocol for creating 
          a(href="http://fr.wikipedia.org/wiki/Monnaie_libre") free currencies
.main.container
  .ui.three.column.grid.main.stackable
    .row
      .column
        .ui.segment.body
          :markdown
            ### Universal Dividend
            uCoin software's goal is to manage *free currencies*, which are currencies where money is regularly created through Universal Dividend, aka monetary *Basic Income*.

          .ui.horizontal.icon.divider
            i.angle.money.circular.icon
          :markdown
            This means **any member regularly receive new money** without doing anything, just for being a human of the monetary Community.

      .column
        .ui.segment.body
          :markdown
            ### Web of Trust
            Universal Dividend means *the same amount to everyone*, so none of them receive twice or more times its Basic Income at a given time.

          .ui.horizontal.icon.divider
            i.users.circular.down.icon
          :markdown
            For that matter, uCoin needs to identify members so **every member is a unique and living individual**.

      .column
        .ui.segment.body
          :markdown
            ### P2P Network
            A free currency controlled by few hands may not stay a free currency. That's why uCoin relies on a P2P Network: both Community changes and transactions are managed directly by the peers.

          .ui.horizontal.icon.divider
            i.globe.circular.down.icon
          :markdown
            Concretely, **newcomers must be recognized by existing members** and express their will to integrate the Community.