.hero
  .container
    section.content
      h2 uCoin project
      p.claim
        | Free software & Open protocol for creating 
        a(href="http://fr.wikipedia.org/wiki/Monnaie_libre") free currencies
      p.stack
        a(title="Relative Money Theory for Human economic freedoms") RMT
        &nbsp;+&nbsp;
        a(title="Cryptography for security, signatures and authentification") OpenPGP
        &nbsp;+&nbsp;
        a(title="UCoin Protocol for rules describing a currency and identifying its members") UCP

.container
  section.content
    .benefits
      section.freedom
        h3 Horizontal P2P currencies
        :markdown
          uCoin software allows for completely P2P currencies: *no central authority, no pyramidal scheme*. Only people making currency together.
        :markdown
          Plus, members directly decide of who joins and when, as well as they decide how much money is issued and when **through a democratic governance**.
      section.freedom
        h3 Universal Dividend
        :markdown
          uCoin is based on Universal Dividend paradigm, so any individual may be equal towards money issuance.
        :markdown
          This means **new money is regularly issued to every member** without exception, based on Community agreement based on its Rules.
      section.freedom
        h3 Humanity scalable
        :markdown
          uCoin uses distribution mecanisms to store
          its data so it can be handled worldwide transactions.
        :markdown
          Choose where to store your transactions, choose who you trust, and let's make exchanges!
