.ui.segment.hero
  .container
    .ui.header.large
      i.double.angle.right.big.icon.medium
      .content uCoin project
        .sub.header
          | Free software + Open protocol for creating 
          a(href="http://fr.wikipedia.org/wiki/Monnaie_libre") free currencies
.main.container
  .ui.segment.body
    .ui.three.column.grid.main.stackable
      .row
        .column
          :markdown
            ### Universal Dividend
            Every member regularly receives a Universal Dividend (i.e. monetary Basic Income) coming from new money directly issued *by* members and *to* members.

          .ui.horizontal.icon.divider
            i.angle.money.circular.icon
          :markdown
            This means **any member is co-creator of the money** without doing anything, just for being a human of the monetary Community.

        .column
          :markdown
            ### Web of Trust
            Every member is *strongly identified* through a Web of Trust mechanism to avoid one individual to receive multiple Universal Dividend through multiple identities.

          .ui.horizontal.icon.divider
            i.users.circular.down.icon
          :markdown
            This means **any membership requires signatures from other members** to join in or simply stay in the Community.

        .column
          :markdown
            ### P2P Network
            Data is fully managed by the *P2P network* so a free currency does not fall under few hands control and can stay a free currency.

          .ui.horizontal.icon.divider
            i.globe.circular.down.icon
          :markdown
            This means **data is fully distributed through the P2P network** to avoid any central power highly subject to corruption or Single Point of Failure issues.
  .ui.horizontal.icon.divider
    i.angle.heart.circular.icon
  .ui.segment.body
    .ui.three.column.grid.main.stackable
      .row
        .column
        .ui.column.center.aligned
          | Help us getting time to develop uCoin!
          p
            script(data-gratipay-username="ucoin", src="//grtp.co/v1.js" async)
        .column