@import '_settings'

global-reset()
base()

hero-padding = 40px

body
  font-size: 15px
  line-height: 1.5em
  font-family font-stack
  // bg "noise.png" repeat

// header
//   margin-bottom 34px

.ui.tiny.menu .item
  font-size: 0.8rem;

.ui.segment.hero
  border-radius 0px
  background-color #f0f0f0
  padding-top hero-padding
  padding-bottom hero-padding

.ui.segment.body
  background-color transparent
  box-shadow none

a
  link(green)

@media only screen and (max-width: 6000px)
  .container
    width 1100px
    margin 0px auto

@media only screen and (max-width: 1050px)
  .container
    width auto
    margin 0px auto

p
  margin 1em 0em

blockquote
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;

// @media only screen and (max-width: 1725px)
.sticky-wrapper .stuck.peek
  height: 0px !important

.sticky-wrapper .stuck.peek
  margin-left: 0px;
  left: 95px;
  position: fixed;
  top: 61px;
  left: 50%;
  margin-left: -800px;

.main.container
  position relative

.peek
  position absolute
  top 35px
  left -250px
  width 180px

