@import '_settings'

global-reset()
base()

hero-padding = 40px
subitem-padding = 0px

body
  font-size: 15px
  line-height: 1.5em
  font-family font-stack
  bg "noise.png" repeat

header.ui.grid .row .column
  padding-left 0px
  padding-right 0px

.ui.tiny.menu .item
  font-size: 0.8rem

#sidemenu .sub.item
  margin-left 8px
  font-size: 0.8rem
  padding-top subitem-padding
  padding-bottom subitem-padding
  line-height 20px
  color gray

.ui.segment.hero
  border-radius 0px
  background-color #f0f0f0
  padding-top hero-padding
  padding-bottom hero-padding

.ui.segment.body
  background-color transparent
  box-shadow none

a
  link(green)

@media only screen and (max-width: 6000px)
  .container
    width 1100px
    margin 0px auto

@media only screen and (max-width: 1050px)
  .container
    width auto
    margin 0px auto

p
  margin 1em 0em

blockquote
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;

@media only screen and (max-width: 768px)
  .peek, .jm_position
    display none

.sticky-wrapper .stuck.peek
  height: 0px !important

.sticky-wrapper .stuck.peek
  margin-left: 0px;
  left: 95px;
  position: fixed;
  top: 61px;
  left: 56.5%;
  margin-left: -800px;

.main.container
  position relative

.peek
  position absolute
  top 35px
  left -150px
  width 180px

strong
  font-weight bold

em
  font-style italic

pre
  font-family Courier
  background-color #f4f4f4;
  padding: 10px 15px;
  color: #333;
  overflow: hidden

p code, li code
  font-family Courier
  background-color #f4f4f4;
  padding: 3px 3px 3px 6px;
  color: #333;

.notice
  notice()

.gittip
  margin-top 15px