.hero
  .container
    section.content
      h2 Currencies using uCoin
      p.claim.
        Known & incoming

.container
  section.content
    .get-storage

      .providers
        h3 Beta-testing currencies
        :markdown
          Below are the few known currencies powered by uCoin on beta-testing phase:
        ul
          li
            :markdown
              #### [beta_brouzouf](http://ucoin.twiced.fr)
              The first beta-testing currency, launched by uCoin's founder (me!). This currency can be reseted at any moment, since it is handled by few servers under my control.
          li
            :markdown
              #### Add yours!
              Following [uCoin's documentation](https://github.com/ucoin-io/ucoin/blob/master/readme.md), you may simply build your own server and create your own currency! It's up to you to test it all!

      .selfhost
        h3 Production currencies
        :markdown
          Not existing yet!

    .unfinished
      :markdown
        This page is subject to updates. Check it back regulary.
