.ui.segment.hero
  .container
    .ui.header.large
      i.book.big.icon.medium
      .content Specifications
        .sub.header
          | Technical & exhaustive details about uCoin protocol
.main.container
  .ui.grid.main.stackable
    .row
      .sixteen.wide.column
        .ui.segment.body
          include _content