.sixteen.wide.column
  .peek
    .ui.menu.secondary.pointing.vertical#sidemenu
  .ui.segment.body
    :markdown
      ### uCoin in 3 words?
      Free Currency System.

      ### Free currency?
      This is a new word, as no free currency existed before: free currency is one **respecting 4 economical freedoms**, and leading to apply *Universal Dividend* to its members.

      ### Universal Dividend?
      This is also known as *Basic Income*: an amount every individual receives on a regular basis (monthly, annualy, ...) without other condition than being a unique living member of the Community.

      **This is not a redistribution system**. This is a *currency system* where money is directly issued to individuals.

      ### How to achieve this?
      We plan to use cryptography features provided by [OpenPGP](http://en.wikipedia.org/wiki/Pretty_Good_Privacy#OpenPGP) to both:
      * Identify unique & living individuals (a.k.a *members* of the monetary community)
      * Allow money transfers through digital signatures

      ### So, this not like Bitcoin?
      Well, this is a *[cryptocurrency](http://en.wikipedia.org/wiki/Cryptocurrency)* system. Bitcoin is a cryptocurrency system too. But uCoin does not use [Proof of Work](#http://en.wikipedia.org/wiki/Proof-of-work_system) as the main feature to make the currency: instead, uCoin takes advantage of [Web of Trust](http://en.wikipedia.org/wiki/Web_of_trust) mechanisms to identify members & take decentralized decisions.