.ui.segment.hero
  .container
    .ui.header.large
      i.question.big.icon.medium
      .content Frequently Asked Questions
        .sub.header
          | Lot of questions, including 
          a#contribute how to contribute!
.main.container
  .ui.grid.main.stackable
    .row
      .two.wide.column
      .fourteen.wide.column
        .peek
          .ui.menu.secondary.pointing.vertical#sidemenu
        .ui.segment.body
          include _content